/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kosugi&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	--first-color: #ff5b00;
	--first-color-alt: #aa3d02;
	--text-color: #7b3000;
	--body-color: #ffffff;

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: 'Quicksand', sans-serif;
	--menu-title-font: 'Kaushan Script', cursive;
	--menu-text-font: 'Kosugi', sans-serif;
	--biggest-font-size: 3.5rem;
	--h1-font-size: 3rem;
	--h2-font-size: 2.5rem;
	--h3-font-size: 2rem;
	--normal-font-size: 1.25rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 1024px) {
	:root {
		--biggest-font-size: 4rem;
		--h1-font-size: 3.5rem;
		--h2-font-size: 3rem;
		--h3-font-size: 2.25rem;
		--normal-font-size: 1.5rem;
		--small-font-size: 1rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	transition: background 0.4s; /* for dark mode animation */	
}

h1,
h2,
h3 {
	color: var(--first-color);
	font-weight: var(--font-medium);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--body-color);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*=============== THEME ===============*/
.nav__buttons {
	display: flex;
	align-items: center;
	column-gap: .5rem;
}

.change-theme {
	font-size: 1.25rem;
	color: var(--first-color);
	cursor: pointer;
	transition: color 0.3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
	--first-color: #ff8c42;
	--first-color-alt: #b25f2c;
	--text-color: #ffddc8;
	--body-color: #151515;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .bg-header,
.dark-theme .nav__menu,
.dark-theme .scrollup {
	box-shadow: 0 2px 8px hsla(19, 64%, 4%, 0.5);
}

.dark-theme::-webkit-scrollbar {
	background-color: hsl(19, 8%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
	background-color: hsl(19, 8%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
	background-color: hsl(19, 8%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.my__container {
	max-width: 1024px;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.section {
	padding-block: 5rem 1rem;
}

.section__title {
	font-size: var(--h1-font-size);
	margin-bottom: 1.5rem;
}

.section__subtitle {
	display: block;
	font-size: var(--h2-font-size);
	font-family: var(--subtitle-font);
	color: var(--first-color);
	margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
	text-align: center;
}

/*=============== CART ===============*/
#cart-icon {
	font-size: 1.25rem;
  color: var(--first-color);
  cursor: pointer;
}

.modal-content {
	font-size: var(--small-font-size);
}

.table td, .table th {
	vertical-align: middle;
}

.input.item-count.form-control {
    width: 1rem;
    text-align: center;
		font-size: var(--small-font-size);
}

.btn {
	background-color: transparent;
	padding: 0;

	.total-count {		
		color: var(--body-color);
		background-color: var(--first-color);
		padding: .2rem .4rem;
		border-radius: 50%;
		font-size: var(--smaller-font-size);
	}
}

.minus-item,
.plus-item {
	padding: 0 .2rem;
}

.swal2-close:focus,
.btn:focus {
	box-shadow: none !important;
}

.modal-footer .button:hover {
	color: var(--body-color);
}

/*=============== HEADER & NAV ===============*/
.header {
	position: fixed;
	width: 100%;
	background-color: var(--body-color);
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	transition: box-shadow 0.3s, background 0.4s;
}

.nav {
	position: relative;
	padding: 0 2rem;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
	display: flex;
	color: var(--first-color);
}

.nav__logo {
	align-items: center;
	column-gap: 0.5rem;
	font-size: var(--h3-font-size);
	font-weight: var(--font-semi-bold);
	transition: color 0.3s;
}

.nav__toggle {
	font-size: 1.25rem;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.nav__menu {
		position: fixed;
		top: -100%;
		left: 0;
		background-color: var(--body-color);
		width: 100%;
		box-shadow: 0 8px 20px hsla(19, 64%, 24%, 0.1);
		padding-block: 3.5rem;
		transition: top 0.4s;
	}
}

.nav__list {
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 2rem;
}

.nav__link {
	color: var(--first-color);
	font-weight: var(--font-medium);
	transition: color 0.4s;
	font-size: 1rem;
}

.nav__link:hover {
	color: var(--first-color-alt);
}

.nav__link:focus {
	color: var(--first-color);
	text-decoration: none;
}

.nav__close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	font-size: 1.5rem;
	cursor: pointer;
}

/* Show menu */
.show-menu {
	top: 0;
}

/* Change background header */
.bg__header {
	box-shadow: 0 2px 8px hsla(19, 64%, 24%, 0.1);
}

/* Active link */
.active-link {
	color: var(--first-color-alt);
}

/*=============== HOME ===============*/
section.home {
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	display: flex;
}


.home__container {
	row-gap: 3rem;
	padding-top: 2rem;
}

.home__img {
	width: 300px;
	justify-self: center;
}

.home__data {
	text-align: center;
}

.home__title {
	font-family: var(--menu-title-font);
	font-size: var(--biggest-font-size);
	margin-bottom: 1rem;
}

.home__title div {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
}

.home__description {
	font-size: var(--normal-font-size);
	padding: 0 1 rem;
	margin-bottom: 2.5rem;
}

/*=============== BUTTON ===============*/
.button {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	background-color: var(--first-color);
	padding: 0.8rem 1.5rem;
	border-radius: 0.4rem;
	color: white;
	font-weight: var(--font-medium);
	transition: background 0.3s;
	font-size: 1.25rem;
	margin: 10px 0;
}

.button:hover {
	background-color: var(--first-color-alt);
}

.button:hover i {
	transform: translateX(0.25rem);
}

/*=============== MENU ===============*/
.menu {
	background-image: url(../img/Gobi-1.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 20%;
	padding-top: 0;
}

.menu__title {
	font-family: var(--menu-title-font);
	font-size: var(--biggest-font-size);
	text-align: center;
}

.menu__data {
	row-gap: 3rem;
	text-align: center;

	.item {
		border-bottom: 1px solid var(--first-color-alt);
		padding-top: 1rem;
	}
}

.menu__button {
	margin: 1rem auto;
	display: table;	
}

.menu__img {
	display: none;
}

.menu h3 {
	text-align: center;
}

.menu ul {
	margin: 1rem;

	i:hover {
		color: var(--first-color);
	}
}

.item {
	display: flex;
	justify-content: space-between;
}

.item__description {
	font-size: var(--smaller-font-size);
	text-align: left;
}


/*========= Pizza by the slice =========*/
.pizza__layers {
  padding: 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../img/Capcicum-2.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 20%;	

	.result {
		align-self: stretch;
	}
  
	.pizza__layers__title {
		font-family: var(--menu-title-font);
		text-align: center;
	}

	.pizza__layers__subtitle {
		font-size: var(--small-font-size);
		color: var(--first-color-alt);
		margin-bottom: 1rem;
	}

	.pizza__layers__block:last-child {
    display: flex;
    align-items: center;
}

  .pizza__layers__img {
    width: 300px;
		height: 300px;
		margin: 0 auto;
		position: relative;

		.pizza__layers__img__item {
			position: absolute;
			top: 0;
			left: 0;
		}
  }

	.pizza__layers__data {
    margin: 0 auto;		
  }

	.well {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	label {
		font-size: var(--small-font-size);		

		input {
			margin-right: 1rem;
		}
	}

	.text-danger {
		color: var(--first-color);
	}

	.button {
		border: none;
		margin: 1rem 0;
	}

	table {
		border-collapse: collapse;
		width: 100%;
    font-size: var(--small-font-size);
	}
	th,
	td {
		text-align: left;
		border: 1px solid #ccc;
		padding: 0.5em;

		button {
			border: none;
			font-size: var(--normal-font-size);
			color: var(--first-color);
			background-color: transparent;
		}

		button:hover {
			color: var(--first-color-alt);
		}

		.add-to-cart:hover {
			color: var(--first-color);
		}
	}

	.checkbox-inline,
	.radio-inline {
		margin-right: 1em;
	}

	.table-number,
	.table-remove {
		width: 30px;
	}

	.table-diameter,
	.table-price {
		width: 100px;
	}

	#submitOrder {
		margin-top: 1em;
	}
}

/*=============== ORDER ===============*/
.order {
	.my__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.order-title {
			text-align: center;
		}

		.order-subtitle {
			margin: 1rem 0 2rem 0;
			font-size: var(--small-font-size);
		}
	}
}

.form {
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form label > span {
	float: left;
	width: 150px;
	color: var(--first-color);
	font-size: var(--normal-font-size);	
}

.form fieldset {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid var(--first-color-alt);
	padding: 20px;
	background: #ffce80;
	box-shadow: inset 0px 0px 15px #ffce80;
	-moz-box-shadow: inset 0px 0px 15px #ffce80;
	-webkit-box-shadow: inset 0px 0px 15px #ffce80;
}

.form fieldset legend {
	color: var(--first-color-alt);
	border-top: 1px solid #ffce80;
	border-left: 1px solid #ffce80;
	border-right: 1px solid #ffce80;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #ffffff;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #f1f1f1;
	-moz-box-shadow: -0px -1px 2px #f1f1f1;
	-webkit-box-shadow: -0px -1px 2px #f1f1f1;
	font-weight: normal;
	font-size: var(--normal-font-size);
}

.form input[type='text'],
.form input[type='email'],
.form input[type='tel'] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid var(--first-color);
	outline: none;
	color: #7b3000;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #ffce80;
	-moz-box-shadow: inset 1px 1px 4px #ffce80;
	-webkit-box-shadow: inset 1px 1px 4px #ffce80;
	background: #fdf1dd;
}

.form input[type='text']::placeholder,
.form input[type='email']::placeholder,
.form input[type='tel']::placeholder {
	color: #af927f;
}

.form input[type='submit'] {
	border: none;
	margin: 2rem auto;
}

.required {
	color: var(--first-color);
	font-weight: normal;
}

/*=============== FOOTER ===============*/
.footer {
	position: relative;
	padding-block: 3rem 2rem;
	overflow: hidden;
	background-image: url(../img/Clover-1.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 20%;
}

.footer__container {
	row-gap: 3rem;
	text-align: center;
}

.footer__logo {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	color: var(--first-color);
	font-family: var(--title-font);
	font-size: var(--h3-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 1rem;
	transition: color 0.3s;
}

.footer__logo:hover {
	color: var(--first-color);
}

.footer__description,
.footer__link,
.footer__information {
	font-size: var(--small-font-size);
}

.footer__links {
	display: grid;
	row-gap: 0.5rem;
}

.footer__title {
	font-size: var(--h3-font-size);
	margin-bottom: 1.5rem;
}

.footer__link {
	color: var(--text-color);
	transition: color 0.3s;
}

.footer__link:hover {
	color: var(--first-color);
}

.footer__social {
	display: flex;
	column-gap: 1.25rem;
	justify-content: center;
}

.footer__social-link {
	color: var(--first-color);
	font-size: 1.25rem;
	transition: color 0.3s, transform 0.3s;
}

.footer__social-link:hover {
	color: var(--first-color-alt);
	transform: translateY(-2px);
}

.footer__info,
.footer__card {
	display: flex;
}

.footer__info {
	margin-top: 6.5rem;
	flex-direction: column;
	row-gap: 1.5rem;
}

.footer__card {
	column-gap: 1rem;
	justify-content: center;
}

.footer__card img {
	width: 30px;
}

.footer__copy {
	text-align: center;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
	width: 0.6rem;
	border-radius: 0.5rem;
	background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: hsl(19, 8%, 65%);
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(19, 8%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -50%;
	background-color: var(--container-color);
	box-shadow: 0 4px 12px hsla(19, 64%, 24%, 0.1);
	display: inline-flex;
	padding: 0.35rem;
	border-radius: 0.25rem;
	font-size: 1.1rem;
	color: var(--first-color);
	z-index: var(--z-tooltip);
	transition: bottom 0.3s, transform 0.3s, background 0.4s;
}

.scrollup:hover {
	transform: translateY(-0.25rem);
}

/* Show Scroll Up*/
.show-scroll {
	bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
	.my__container {
		margin-inline: 1rem;
	}

	.section {
		padding-block: 4rem 1rem;
	}

	.home__title {
		font-size: 2.5rem;
	}

	.home__description {
		font-size: 1.5rem;
	}

	.footer__content {
		gap: 1.5rem;
	}
}

/* For medium devices */
@media screen and (min-width: 576px) {
	.home__container,
	.menu__data,
	.pizza__layers__data {
		grid-template-columns: 7fr;
		justify-content: center;
	}	
	
	.form label {
		flex-direction: row;
	}
}

@media screen and (min-width: 767px) {
	.nav {
		column-gap: 3rem;
	}

	.nav__toggle,
	.nav__close {
		display: none;
	}

	.nav__list {
		flex-direction: row;
		column-gap: 1.5rem;
	}

	.nav__menu {
		margin-left: auto;
	}

  .section {
    height: auto;    
  }

  .pizza__layers{
    .pizza__layers__img {
    // width: 500px;
		// height: 500px;
    margin: 0 auto;
  }
  }

  .pizza__layers__data {
    margin: 0 auto;
  }

	#pizzaTable,
	#pizzaDiameterErrors {
		text-align: center;
		margin-top: 1rem;
	}
  
}

/* For large devices */
@media screen and (min-width: 1024px) {
	.my__container {
		margin-inline: auto;
	}

	.section {
		padding-block: 7rem 1.5rem;
    // height: 100vh;
	}

	.section__subtitle {
		margin-bottom: 0.75rem;
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}

	.nav__link {
		font-size: 1.25rem;
	}

	.home__container {
		position: relative;
		grid-template-columns: 1fr 1fr;
		padding-block: 3rem 3rem;
		align-items: center;
	}

	.pizza__layers__data {
		grid-template-columns: 3fr 2fr;
		padding-bottom: 0;
	}

  .home__data {
		text-align: initial;
		order: -1;
		margin: 3rem;
	}

	.home__title div {
		justify-content: initial;
		column-gap: 1rem;
		padding: 3rem;
	}

	.home__description {
		padding: 0 1rem 0 0;
	}

	.home__img {
		width: 100%;
		top: 5rem;
		right: -2rem;
	}

	.menu__container {
		grid-template-columns: 1fr 5fr;
	}

	.menu__data {
		grid-template-columns: 1fr 1fr;
		column-gap: 5rem;
		order: 1;
		text-align: initial;
	}

	.menu__title {
		font-size: var(--biggest-font-size);
	}

	.menu__img {
		display: block;
		align-self: center;
	}  

	.pizza__layers {
		.result {
			align-self: center;
			min-width: 1024px;
		}

		.well {			
			align-items: flex-start;

			.row {
				display: flex;

				div {
					padding-right: 2rem;

					#pizzaDiameterErrors {
						font-size: var(--small-font-size);
					}
				}
			}
		}


	}

  .order {
    padding: 10rem 3rem 3rem;
  }

	.footer {
		padding-block: 8rem 3rem;
	}

	.footer__container {
		position: relative;
		grid-template-columns: repeat(3, max-content);
		justify-content: space-between;
		text-align: left;
	}

	.footer__title,
	.footer__description,
	.footer__information,
	.footer__link {
		font-size: var(--small-font-size);
	}

	.footer__social-link {
		font-size: 2rem;
	}

	.footer__social {
		margin-top: 1.5rem;
	}

	.footer__info {
		flex-direction: row;
		justify-content: space-between;
		margin-top: 5.5rem;
	}

	.footer__copy {
		order: -1;
	}

	.scrollup {
		right: 3rem;
	}
}
